<h1 style="text-align: center">Contact Details</h1>
<div class="contactdetails">
  <mat-icon matIconPrefix>place</mat-icon>
  <h3>Location</h3>
  <h4>Indore MP India</h4>
  <br />
  <mat-icon>mail</mat-icon>
  <h3>Email</h3>
  <h4>yasir.khan@yash.com</h4>
  <br />

  <mat-icon>phone</mat-icon>
  <h3>Phone No</h3>
  <h4>(+91)-6267354793</h4><br>
  <div>
    <mat-form-field>
      <mat-label>Leave a comment/feedback</mat-label>
      <textarea matInput placeholder="Just comment it"></textarea>
    </mat-form-field>
  </div>
</div>

