<!-- <h1>CEO Message</h1> -->
<!-- <div class="ceomassage">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Miško Hevery</mat-card-title>
      <mat-card-subtitle>Founder of Angular</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src=" https://avatars.githubusercontent.com/u/111951?v=4"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        AngularJS was originally developed in 2009 by Miško Hevery at Brat Tech
        LLC as the software behind an online JSON storage service, that would
        have been priced by the megabyte, for easy-to-make applications for the
        enterprise.
      </p>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
  </mat-card>
</div> -->
<!-- <div class="message">
    <p> AngularJS was originally developed in 2009 by Miško Hevery at Brat Tech
        LLC as the software behind an online JSON storage service, that would
        have been priced by the megabyte, for easy-to-make applications for the
        enterprise.</p>
</div> -->

<!-- <h1 mat-dialog-title>Ceo Message</h1>

<div mat-dialog-content>
  <div class="ceomassage">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Miško Hevery</mat-card-title>
        <mat-card-subtitle>Founder of Angular</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src=" https://avatars.githubusercontent.com/u/111951?v=4"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          AngularJS was originally developed in 2009 by Miško Hevery at Brat Tech
          LLC as the software behind an online JSON storage service, that would
          have been priced by the megabyte, for easy-to-make applications for the
          enterprise.
        </p>
      </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
  </div>
  
</div> -->
<h1 mat-dialog-title>CEO Message</h1>

<div mat-dialog-content class="float-container">
  <div class="float-child">
    <img
      mat-card-image
      src=" https://avatars.githubusercontent.com/u/111951?v=4"
      alt="Photo of a Shiba Inu"
      style="width: 150px; height: 175px"
    />
    <h3><strong>Miško Hevery</strong></h3>
    <h4><strong>Founder of Angular</strong></h4>
  </div>
  <div class="float-child1">
    <p>
      AngularJS was originally developed in 2009 
      by Miško Hevery at Brat Tech LLC as the software behind an online JSON
      storage service, that would have been priced by the megabyte, for
      easy-to-make applications for the enterprise.
      … works as an Agile Coach at Google where he is responsible for coaching
      Googlers to maintain the high level of automated testing culture. This
      allows Google to do frequent releases of its web applications with
      consistent high quality.
    </p>
  </div>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</div>
