<div class="container">
  <!-- <h1 class="text-center text-primary">Data</h1> -->
  <table  class="table table-hover table-bordered ">
    <thead >
      <th>Emp Id</th>
      <th>Emp Name</th>
      <th>Mobile No</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <tr *ngFor="let e of emp">
        <td>{{ e.id }}</td>
        <td>{{e.empName}}</td>
        <td>{{e.mobileNo}}</td>
        <td>{{e.address}}</td>
        <td><span (click)="updateEmployee(e)" name="update" id="updatebtn"><i class="fa fa-edit"></i></span></td>
        <td><span (click)="deleteEmployee(e.id)" name="delete" id="deletebtn"><i class="fa fa-trash"></i></span></td>
      </tr>
    </tbody>
  </table>
</div>

