<div class="container">
  <div class="jumbotron p-5 text-center bg-image rounded-3 bg">
    <div class="d-flex justify-content-center align-items-center h-100">
      <h2 class="title">Angular CRUD</h2>
      <br />
    </div>
    <div class="quote">
      <p>
        <em><strong>"~Start turning your idea's into reality "</strong></em>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7"><app-employee-list></app-employee-list></div>
    <div class="col-md-5"><app-employee-form></app-employee-form></div>
  </div>
</div>

<div class="container">
  <hr />
  <footer class="text-center text-white bg fot">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark" target="_blank"
          ><i class="fa fa-facebook-f"></i
        ></a>

        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://twitter.com/ERYasirKhan?t=XxPOY_EerKvfAoaFM3yvkw&s=09"
          role="button"
          data-mdb-ripple-color="dark" target="_blank"
          ><i class="fa fa-twitter"></i
        ></a>

        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark" target="_blank"
          ><i class="fa fa-google"></i
        ></a>

        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.instagram.com/invites/contact/?i=ukhcnkm44iku&utm_content=1zyuuuk"
          role="button"
          data-mdb-ripple-color="dark" target="_blank"
          ><i class="fa fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/yasir-khan-98503b15b"
          role="button"
          data-mdb-ripple-color="dark" target="_blank"
          ><i class="fa fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/yasirkhan21"
          role="button"
          data-mdb-ripple-color="dark" target="_blank"
          ><i class="fa fa-github"></i
        ></a>
      </section>
      
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
 <!-- Copyright -->
 <div class="text-center text-dark p-3 ">
  © 2022 Copyright:
  <a
    class="text-dark"
    href="https://yasirkhan21.github.io/CV/"
    target="_blank"
    >Yasir Khan</a
  >
</div>
   
    <!-- Copyright -->
  </footer>
</div>
