<h1>CEO Message</h1>
<div class="ceomassage">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Miško Hevery</mat-card-title>
      <mat-card-subtitle>Founder of Angular</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src=" https://avatars.githubusercontent.com/u/111951?v=4"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        AngularJS was originally developed in 2009 by Miško Hevery at Brat Tech
        LLC as the software behind an online JSON storage service, that would
        have been priced by the megabyte, for easy-to-make applications for the
        enterprise.
      </p>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
  </mat-card>
</div>
<!-- <div class="message">
    <p> AngularJS was originally developed in 2009 by Miško Hevery at Brat Tech
        LLC as the software behind an online JSON storage service, that would
        have been priced by the megabyte, for easy-to-make applications for the
        enterprise.</p>
</div> -->