.form{
    border: 2px solid whitesmoke;
    border-radius:25px;
    margin: auto;
    padding-left: 40px;
    height: auto;
    margin-top: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    background-image: url("https://warm-naiad-cf0694.netlify.app/demo-images/light.jpg");
     
}
.ipclass{
    padding-left: 15px;
}

mat-form-field{
    width: 250px;
}