h1 {
  margin-top: 200px;
  border: 2px solid black;
 background-image: url("https://i.pinimg.com/736x/1f/9c/c7/1f9cc744ef60c0ca58ae8f427385b620--female-reference-solid-colors.jpg");
  height: 70px;
  padding-top:20px;
 color: white;
 
}
